a:link, a:visited {
    color: black;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    color: #444444;
    text-decoration: underline;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-emphasis: none;
}

form {
    margin: 45px 0 45px 45px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

input[type=text] {
    border: 1px solid lightgray;
    outline: none;
    width: 98%;
    height: 25px;
    margin-top: 15px;
}

input[type=submit] {
    background-color: #4d90fe;
    color: white;
    border: 1px solid #4877fa;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    width: 125px;
    margin-top: 15px;
}

input[type=submit]:hover {
    background-color: #4d7cfe;
    border-color: #4863fa;
}

input:focus {
    box-shadow: 0px 1px 2px lightgray inset;
    border-color: #4d90fe;
}

@media screen and (max-width: 1204px) {
    form {
        width: 95%;
    }
    
    .input {
        width: 55%;
    }

    .helper {
        width: 35%;
    }

    .right-align {
        width: calc(25px + 64%);
    }

    .sub-title {
        padding-right: 56%;
    }
}

@media screen and (min-width: 1205px) {
    form {
        width: 1160px;
    }
    
    .input {
        width: 575px;
    }

    .helper {
        width: 400px;
    }

    .right-align {
        width: 760px;
    }

    .sub-title {
        padding-right: 635px;
    }
}

@media screen and (max-width: 1059px) {
    p, .helper, .helper-title, .helper>div {
        display: none;
        width: 0;
    }

    .input {
        width: 48%;
    }

    .right-align {
        width: calc(200px + 46%);
    }
}

@media screen and (min-width: 1060px) {
    p {
        margin: 0px 3px;
        font-size: 11px;
        font-family: monospace;
    }
}

%flexbox {
    display: flex;
    align-items: center;
}

.flexbox {
    @extend %flexbox;
}

.flex-header {
    justify-content: space-between;
}

.flex-stretch {
    align-items: stretch;
}

.header {
    padding: 12px;
    background-color: #eeeeee;
}

.header-logo {
    height: 31px;
    width: 93px;
    margin: 3px;
}

.helper {
    @extend %flexbox;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 15px;
    font-size: smaller;
    color: rgb(94, 94, 94);
}

.helper-title {
    font-weight: bold;
    color: gray;
}

.input {
    margin: 0px 10px;
}

.label {
    width: 175px;
    margin-top: 15px;
    margin-right: 5px;
}

.right-align {
    justify-content: flex-end;
}

.sub-title {
    color: #333;
    font-size: 16px;
}

.title {
    padding: 25px 0px 25px 45px;
    color: rgb(217, 48, 37);
    font-size: 20px;
    border-bottom: solid 1px lightgray;
}